<app-header></app-header>

<div class="page-data container">
  <h2 class="title-export">Export</h2>

  <p ng-if="dataCtrl.areStatNumbersReady()">
    You have {{ dataCtrl.getExpensesCount() }} expenses
    in {{ dataCtrl.getTagsCount() }} tags.
  </p>

  <button
    class="btn btn-primary btn-xl btn-block"
    ng-click="dataCtrl.exportJson()"
  >
    Export as JSON
  </button>

  <h2 class="title-import">Import</h2>

  <input
    type="file"
    id="data-import-json-input"
    class="import-json-input"
    link-element="dataCtrl.importJsonInputReady($element)"
  >

  <label
    class="btn btn-primary btn-xl btn-block"
    for="data-import-json-input"
  >
    Import JSON
  </label>

  <h2 class="title-erase">Erase data</h2>

  <button
    class="btn btn-danger btn-xl btn-block"
    ng-click="dataCtrl.eraseData()"
  >
    Erase all tags and expenses
  </button>
</div>
