{
  "plugins": [
    "transform-object-rest-spread",
    "angularjs-annotate"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ]
}
