@import '../../../../../assets/styles/sass/helpers';

.overview-stats {
  .categories {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;

    &:not(.is-open) {
      height: 2rem;
    }

    &.is-open {
      flex-direction: column;
    }
  }

  .category {
    height: 100%;
  }

  .categories.is-open .category {
    padding: .2rem 0;
    white-space: nowrap;
  }

  .category-label {
    background: rgba(white, .3);
    padding: 0 .5rem;
  }

  .categories:not(.is-open) .category-label {
    @include visually-hidden;
  }
}
