/** @todo Properly update Bootstrap and remove hacks */

@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.component-header {
  @media (min-width: 768px) {
    @include make-container();
    @include make-container-max-widths();
  }

  .navbar-toggleable-xs {
    clear: right;
  }

  @media (max-width: 544px) {
    .navbar-toggleable-xs .nav-item {
      width: 100%;
      margin-left: 0 !important;
    }
  }

  .toggle-navbar {
    width: 36px;
    height: 28px;
    background: transparent;
    border: 0;
    fill: white;
    position: relative;
    float: right;
    margin-top: 5px;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
