<app-header></app-header>

<div class="page-export-import container">
  <h2 class="title-export">Export</h2>

  <p ng-if="exportImportCtrl.areStatNumbersReady()">
    You have {{ exportImportCtrl.getExpensesCount() }} expenses
    in {{ exportImportCtrl.getTagsCount() }} tags.
  </p>

  <button
    class="btn btn-primary btn-xl btn-block"
    ng-click="exportImportCtrl.exportJson()"
  >
    Export as JSON
  </button>

  <h2 class="title-import">Import</h2>

  <input
    type="file"
    id="export-import-import-json-input"
    class="import-json-input"
    link-element="exportImportCtrl.importJsonInput"
  >

  <label
    class="btn btn-primary btn-xl btn-block"
    for="export-import-import-json-input"
  >
    Import
    <small>JSON / CSV</small>
  </label>

  <h2 class="title-erase">Erase data</h2>

  <button
    class="btn btn-danger btn-xl btn-block"
    ng-click="exportImportCtrl.eraseData()"
  >
    Erase all tags and expenses
  </button>

</div>
