.page-sign-in {
    .password-label {
        display: flex;
        justify-content: space-between;

        a {
            font-size: 0.9rem;
        }
    }

    .signUp-hint {
        text-align: center;
        margin-top: 1rem;
    }
}
