<app-header></app-header>

<div class="page-expense container">
    <form name="form" ng-submit="form.$valid && expense.submit(expense.expense)" novalidate>
        <fieldset class="form-group" ng-class="{'has-danger': form.$submitted && form.amount.$invalid}">
            <label class="control-label" for="expense-amount">Amount</label>
            <input class="form-control"
                   id="expense-amount"
                   type="number"
                   min="0.01"
                   ng-model="expense.expense.amount"
                   name="amount"
                   placeholder="How much did you spend?"
                   required>
            <div class="text-help" ng-show="form.$submitted && form.amount.$invalid">
                Please enter the amount
            </div>
        </fieldset>

        <fieldset class="form-group" ng-class="{'has-danger': form.$submitted && form.tag.$invalid}">
            <label class="control-label" for="expense-tags">Tag</label>
            <select class="form-control c-select"
                    id="expense-tags"
                    ng-model="expense.expense.tag"
                    name="tag"
                    required>
                <option value="" selected>Select a tag...</option>
                <option ng-repeat="tag in expense.availableTags" value="{{ tag.id }}">
                    {{ tag.name }}
                </option>
            </select>

            <div class="text-help" ng-show="form.$submitted && form.tag.$invalid">
                Please select a tag
            </div>
        </fieldset>

        <fieldset class="form-group">
            <label class="control-label" for="expense-comment">Comment</label>
            <textarea class="form-control"
                      id="expense-comment"
                      ng-model="expense.expense.comment"
                      name="comment"
                      placeholder="Add a comment if you like"></textarea>
        </fieldset>

        <fieldset class="form-group">
            <label class="control-label" for="expense-date">Date</label>
            <input class="form-control"
                   id="expense-date"
                   ng-model="expense.expense.date"
                   name="date"
                   type="date">
        </fieldset>

        <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
    </form>
</div>
