<app-header></app-header>

<main class="page-tags">
    <table class="tags-list table table-striped" id="tags-list">
        <tbody>
            <tr ng-repeat="tag in tags.tags track by $index">
                <td>
                    <input class="form-control" type="text" ng-model="tag.name" ng-change="tags.saveTag(tag)">
                </td>
                <td class="remove-col">
                    <button class="btn btn-danger btn-sm" type="button" ng-click="tags.removeTag(tag)">
                        ×
                        <span class="sr-only">Remove</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="container">
        <button class="btn btn-primary btn-lg btn-block" ng-click="tags.addTag()" type="button">Add Tag</button>
    </div>
</main>