<app-header></app-header>

<main class="page-start container">
  <p>Welcome to Coins!</p>
  <p>You can continue without account or sign up and sync expenses between all your devices.</p>

  <a class="btn btn-primary btn-lg btn-block" ui-sref="overview">
    Start tracking expenses
  </a>

  <p class="text-xs-center text-or">
    - or -
  </p>

  <a class="btn btn-secondary btn-lg btn-block" ui-sref="signUp">
    Sign Up
  </a>


  <p class="signIn-hint">
    <a ui-sref="signIn">Already have a account?</a>
  </p>
</main>
