<app-header></app-header>

<main class="page-sign-in container">
  <div
    class="alert alert-danger"
    role="alert"
    ng-if="$ctrl.errorMessage"
  >
    {{ $ctrl.errorMessage }}
  </div>

  <form
    name="$ctrl.form"
    ng-submit="$ctrl.form.$valid && $ctrl.submit($ctrl.user)"
    novalidate
  >
    <div
      class="form-group"
      ng-class="{'has-danger': ($ctrl.form.$submitted || $ctrl.form.email.$touched) && $ctrl.form.email.$invalid}"
    >
      <label
        class="form-control-label"
        for="signIn-email"
      >
        Email
      </label>
      <input
        class="form-control"
        type="email"
        id="signIn-email"
        name="email"
        ng-model="$ctrl.user.email"
        required
      >

      <div
        class="text-help"
        ng-show="($ctrl.form.$submitted || $ctrl.form.email.$touched) && $ctrl.form.email.$invalid"
      >
        Please enter your email address.
      </div>
    </div>

    <div
      class="form-group"
      ng-class="{'has-danger': ($ctrl.form.$submitted || $ctrl.form.password.$touched) && $ctrl.form.password.$invalid}"
    >
      <label
        class="password-label form-control-label"
        for="signIn-password"
      >
        Password
        <a ui-sref="requestPasswordReset">
          Forgot your password?
        </a>
      </label>
      <input
        type="password"
        class="form-control"
        id="signIn-password"
        name="password"
        ng-model="$ctrl.user.password"
        required
      >

      <div
        class="text-help"
        ng-show="($ctrl.form.$submitted || $ctrl.form.password.$touched) && $ctrl.form.password.$invalid"
      >
        Please enter your password.
      </div>
    </div>

    <button
      class="btn btn-primary btn-lg btn-block"
      type="submit"
    >
      Sign In
    </button>
  </form>

  <p class="signUp-hint">
    <a ui-sref="signUp">Don't have an account yet?</a>
  </p>
</main>
