<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coins</title>
  <meta name="description" content="Coins is a Webapp that allows you to track your expenses and access them across your digital devices.">

  <link rel="apple-touch-icon" href="<%= require('./assets/images/icons/apple-touch-icon.png') %>" sizes="180x180">
  <link rel="icon" type="image/png" href="<%= require('./assets/images/icons/favicon-32x32.png') %>" sizes="32x32">
  <link rel="icon" type="image/png" href="<%= require('./assets/images/icons/favicon-16x16.png') %>" sizes="16x16">
  <meta name="apple-mobile-web-app-title" content="Coins">
  <meta name="application-name" content="Coins">
  <meta name="theme-color" content="#FFEB3B">
  <link rel="manifest" href="<%= require('./webmanifest.json') %>">

  <style>
    .loading {
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 32px;
    }
  </style>
</head>
<body ui-view>
  <div class="loading">
    <p>Loading...</p>

    <noscript>
      <p>JavaScript is required.</p>
    </noscript>
  </div>
</body>
</html>
