<app-header></app-header>

<div class="page-overview">
  <overview-stats></overview-stats>

  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <a
          class="btn btn-primary btn-sm"
          ui-sref="overviewMonth({
            year: $ctrl.previousMonthLinkParams.year,
            month: $ctrl.previousMonthLinkParams.month
          })"
        >←</a>
      </div>

      <div class="col-xs-6 text-xs-center">
        <p class="current">
          {{ $ctrl.currentMonth | date: 'MMMM yyyy' }}:
          <strong>{{ $ctrl.monthExpenses | number: 2 }}</strong>
        </p>
      </div>

      <div class="col-xs-3 text-xs-right">
        <a
          class="btn btn-primary btn-sm"
          ui-sref="overviewMonth({
            year: $ctrl.nextMonthLinkParams.year,
            month: $ctrl.nextMonthLinkParams.month
          })"
        >→</a>
      </div>
    </div>
  </div>

  <div
    class="table-container"
    ng-if="$ctrl.expensesByDay"
    ng-repeat="(day, expenses) in $ctrl.expensesByDay"
  >
    <h3 class="table-subheadline">
      {{ day | date: 'EEEE, yyyy-MM-dd' }}
    </h3>

    <table class="table table-striped">
      <tbody>
      <tr ng-repeat="expense in expenses">
        <td
          class="col-date"
          ng-style="{ borderLeftColor: expense.tagData.color }"
        >
          <a ui-sref="editExpense({id: expense.id})">
            {{ expense.date | date: 'yyyy-MM-dd' }}
          </a>
        </td>
        <td>
          <a ui-sref="editExpense({id: expense.id})">
            {{ expense.tagData.name }}
          </a>
        </td>
        <td class="col-amount text-xs-right">
          <a ui-sref="editExpense({id: expense.id})">
            {{ expense.amount | number: 2 }}
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="container" ng-if="!$ctrl.expensesByDay">
    <p>No expenses in {{ $ctrl.currentMonth | date: 'MMMM' }} yet.</p>
  </div>

  <div class="container">
    <a class="btn btn-primary btn-lg btn-block" ui-sref="addExpense">Add Expense</a>
  </div>
</div>
