@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

.page-overview {
  .current {
    line-height: 30px;
  }

  .table-container,
  .overview-stats {
    @media (min-width: 768px) {
      @include make-container();
      @include make-container-max-widths();
    }
  }

  .table-subheadline {
    margin-top: 2rem;
    font-size: 1.3rem;

    @media (max-width: 767px) {
      font-size: 1rem;
      padding: 0 0.75rem;
    }
  }

  .table {
    margin-top: 1rem;

    td {
      padding: 0;
    }

    .col-date,
    .col-amount {
      width: 1px;
      white-space: nowrap;
    }

    .col-date {
      border-left: .5rem solid;
    }

    a {
      display: block;
      padding: 0.75rem;
      color: #373a3c;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
